@import url('https://fonts.googleapis.com/css2?family=Belleza&family=DM+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f9e9da;
  color: #111;
}

h1, h2, h3, .font-belleza {
  font-family: 'Belleza', sans-serif;
}